version: "3"

services:
  next-app:
    build:
      context: ./next-app
      dockerfile: prod.Dockerfile
      args:
        ENV_VARIABLE: ${ENV_VARIABLE}
        NEXT_PUBLIC_ENV_VARIABLE: ${NEXT_PUBLIC_ENV_VARIABLE}
    restart: always
    ports:
      - 3000
    networks:
      - dokploy-network
    labels:
        - "traefik.enable=true"
      - "traefik.http.routers.dokdokploy.rule=Host(`dokdok.satudata.space`)"
      - "traefik.http.routers.dokdokploy.entrypoints=websecure"
      - "traefik.http.routers.dokdokploy.tls.certResolver=letsencrypt"
      - "traefik.http.services.dokdokploy.loadbalancer.server.port=3009"
  dokploy-network:
    external: true
